:root {
    --bg-primary: #e2e8f0;
    --bg-secondary: #334155;
    --text-primary: #f8fafc;
    --shadow: #94a3b8;
    font-family: "Ubuntu", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-rows: min-content auto;
    height: 100vh;
    margin: 0;
    background-color: var(--text-primary);
}

.sidebar {
    grid-row: 1 / -1;
    display: grid;
    align-content: flex-start;
    gap: 2rem;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    padding-top: 1rem;
    font-weight: 500;
}

.sidebar-main,
.sidebar-others,
.sidebar-header {
    display: grid;
    grid-template-columns: 3rem auto;
    column-gap: 1rem;
    row-gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-header > .material-icons {
    font-size: 2rem;
}

.sidebar-header > .sidebar-content {
    font-size: 1.3rem;
}

.material-icons {
    justify-self: flex-end;
}


.header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    row-gap: 0.5rem;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1;
    box-shadow: 0 3px 5px var(--shadow);
}

.header-search {
    display: flex;
    gap: 0.5rem;
}

.header-search input {
    border-radius: 10px;
    background-color: var(--bg-primary);
    height: 1.5rem;
    border: 0;
    width: 20rem;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    font-weight: bold;
    padding-right: 1rem;
}

.header-nav img {
    width: 4rem;
}

.buttons {
    display: flex;
    gap: 2rem;
}

button {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    border-radius: 1rem;
    width: 5rem;
    height: 2rem;
    font-family: "Ubuntu";
    font-weight: bold;
    border: 0;
}

.header-main {
    display: grid;
    grid-template: auto auto / 8rem auto;
    column-gap: 1rem;
    font-weight: bold;
}

.header-main img {
    grid-row: 1 / 3;
    max-height: 100%;
    width: 100%;
}

.header-hello {
    align-self: flex-end;
}

.header-main .name {
    font-size: 1.7rem;
}

.main-content {
    display: grid;
    grid-template: min-content auto / 3fr 1fr;
    row-gap: 1rem;
    background-color: var(--bg-primary);
    padding: 2rem 1rem;
}

.projects {
    grid-row: 1 / 3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    display: grid;
}

.title {
    margin: 0 0.7rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.projects .title {
    grid-column: 1 / -1;
}

.projects > .card {
    border-left: 10px solid var(--bg-secondary);
    display: grid;
    grid-template-rows: min-content min-content auto;
}

.projects .icons {
    align-self: flex-end;
    justify-self: flex-end;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 1rem;
    margin-top: 0.5rem;
}

.announcements,
.trending {
    display: grid;
    grid-template-rows: min-content auto;
}

.announcements > .card,
.trending > .card {
    display: grid;
    row-gap: 1rem;
    font-size: 0.8rem;
}

.announcements .container + .container {
    border-top: 2px solid var(--bg-primary);
    padding-top: 1rem;
}

.trending .container {
    display: grid;
    grid-template-columns: 3rem auto;
    grid-template-rows: auto auto;
    column-gap: 1rem;
}

.trending .handle {
    color: black;
    font-weight: 500;
    font-size: 1.1em;
}

.trending img {
    width: 100%;
    clip-path: circle();
    grid-row: 1 / -1;
}

.card {
    padding: 2rem 1rem;
    margin: 0.7rem;
    background-color: var(--text-primary);
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--shadow);
    color: var(--bg-secondary);
}

.card-title {
    font-weight: bold;
    font-size: 1.1em;
    color: black;
}

p {
    margin: 0;
}
